@import 'assets/scss/fonts.scss';
@import 'assets/scss/transitions.scss';

body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  box-sizing: border-box;
  color: #000000;
  text-decoration: none;
}