// fade-in
.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: all .2s ease-in-out;
}
.fadeIn-enter,
.fadeIn-leave-to {
  opacity: 0;
}


//blowUp
.blowUp-enter-active,
.blowUp-leave-active {
  transition: 550ms;
  animation: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

  transform: scale(1);
  opacity: 1;
}

.blowUp-enter,
.blowUp-leave-to {
  transform:scale(0);
  opacity:0;
}
